@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
:root {
  --orange-color: #ffbb00;
  --dark-color: #363746;
  --dark2-color: #2e2f3e;
  --dark3-color: #242530;
}

body {
  font-family: "Poppins", sans-serif !important;
}

.row {
  min-height: 100vh;
}

.cal-container {
  background-color: var(--dark3-color);
  padding: unset;
  min-height: 530px;
}

.top {
  min-height: 150px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.bottom {
  min-height: calc(100% - 150px);
  border-radius: 2em 2em 0.5em 0.5em;
  overflow: hidden;
}

.text-wrapper {
  width: 100%;
  min-height: 80px;
}

.text-wrapper p {
  color: #fff;
  text-align: right;
  padding-right: 0.5em;
}

.text-wrapper .upper-text {
  color: #808080;
  word-wrap: break-word;
  min-height: 48px;
  padding-top: 1.7rem;
}

.text-wrapper .down-text {
  font-size: 1.5rem;
  word-wrap: break-word;
  word-break: break-all;
  min-height: 36px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.number-cell {
  border: 1px solid var(--dark3-color);
}

.number-cell button {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background-color: var(--dark2-color);
  color: #fff;
}

.row-2 {
  grid-column: 4/5;
  grid-row: 4/6;
}

.number-cell.bg-c button {
  background-color: var(--dark-color);
  color: var(--orange-color);
}

.number-cell.color-w button {
  color: #fff;
}

.number-cell:hover button {
  background-color: var(--dark3-color);
}

.number-cell:active button {
  background-color: var(--dark-color);
}

.number-cell.bg-c:hover button {
  background-color: var(--dark2-color);
}

.number-cell.bg-c:active button {
  background-color: var(--dark1-color);
}

.number-cell.bg-orange button {
  background-color: var(--orange-color);
  color: #fff;
}

.number-cell.bg-orange:hover button {
  background-color: #e6a800;
  color: #fff;
}

.number-cell.bg-orange:active button {
  background-color: #c48f00;
  color: #fff;
}

i {
  user-select: none;
}

.text {
  margin: -1.4rem auto 0;
  text-align: center;
  font-size: 0.875rem;
  max-width: 350px;
  color: #808080;
  pointer-events: none;
}

.text span {
  display: block;
  color: blue;
  font-size: 1.5rem;
  margin-top: 0.5rem;
  font-weight: lighter;
  letter-spacing: 2px;
}
